$black                       : #000;
$white                       : #FFF;
$light-blue                  : #4a90e2;
$green                       : #1FCD3F;
$orange                      : #ff3c2c;
$light-orange                : #ff8500;
$yellow                      : #f5a623;
$teal                        : #30CDCC;
$light-teal                  : #1fcdcd;
